<%- include partials/header %>
    
    <section id="userInfo" class="jumbotron">
            <div class="container">
                <h1 class="display-5 py-1">Welcome, <%=user.firstName%></h1>
                 <h3 class="">Current Location: <%=user.location ? user.location : "Unknown"%></h3>
                 <h3 class="mb-3">Room Temperature: <%=user.location ? `80 \u00B0F` : "N/A"%></h3>
                 <button type="button" class="btn btn-outline-dark my-3" data-toggle="modal" data-target="#settings"><i class="fas fa-cog align-middle"></i><span class="ml-3 align-middle">Settings</span></button>
                 <form class="d-inline" action="/login?_method=DELETE" method="POST">
                    <button class="btn btn-outline-danger btn-lg ml-3"><i class="fas fa-sign-out-alt align-middle"></i><span class="ml-3 align-middle">Sign out</span></button>
                </form>
            </div>
    </section>

    <div class="modal fade" id="settings" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="">Settings</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <form action="/user?_method=PATCH" method="POST">
                        <div>
                            <h5>Personal information</h5>
                            <div class="form-group">
                                <label for="firstName">First name</label>
                                <input type="text" name="firstName" class="form-control" id="firstName" aria-describedby="firstName" placeholder="" value="<%=user.firstName%>">
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last name</label>
                                <input type="text" name="lastName" class="form-control" id="lastName" aria-describedby="lastName" placeholder="" value="<%=user.lastName%>">
                            </div>
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="" value="<%=user.email%>">
                            </div>
                        </div>
                        <div>
                            <h5>Preferences</h5>
                            <div class="form-group">
                                <label for="temperature">Temperature</label>
                                <input type="text" name="preferredTemperature" class="form-control" id="temperature" placeholder="Temperature" value="<%=user.preferredTemperature%>">
                            </div>
                        </div>
                            <div class="row">
                                <a href="" class="btn btn-dark btn-block col-md-4 my-3 ml-2">Change password</a>
                            </div>
                                <a href="/user" class="btn btn-outline-primary ">Cancel</a>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
              </div>
            </div>
          </div>
<%- include partials/footer %>